.Circle {
  position: fixed;
  height: 100px;
  width: 100px;
  top: -100%;
  right: -100%;
  left: -100%;
  bottom: -100%;
  margin: auto;
  background-color: tomato;
  border-radius: 50%;
  box-sizing: border-box;
  animation: grow 20s linear 1;
  animation-fill-mode: forwards;
  border: 3px solid #fff
}

@keyframes grow {
  to { height: 3000px; width: 3000px; }
}