.Controls {
  position: fixed;
  height: 100px;
  width: 100px;
  top: -100%;
  right: -100%;
  left: -100%;
  bottom: -100%;
  margin: auto;
  z-index: 9999;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #fff;
}